git+https://github.com/AUSSDA/pyDataverse.git@develop
bs4
rdflib
pandas
mkwikidata
requests
#pyDataverse==0.2.1
#pyDataverse
datefinder
jinja2==3.0.3
future==0.17.1
bs4
lxml
langdetect
mkwikidata
pydoi
